
body{
   font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

div, p, input, button, form, span, a, ul, li {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: 'Motserrat', sans-serif;
}

p{
    line-height: 1,6em;
    width: auto;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.header{
    background: rgb(75, 179, 221);
    padding-top: 67px;
    padding-bottom: 73px;
    color: #fff;
}

.wrapper{
    display: flex;
    justify-content: space-between;

    align-items: center;
}

.offer{
    width: 555px;
}
 .title{
    font-size: 36px;
 }

 .intro{
    margin-bottom: 43px;

    width: 397px;
 }

 .btn{
    font-family: 'Motserrat', sans-serif;
    background: #FFD429;
    color: #2E2A1B;
    display: block;
    width: 170px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease;
 }

 .btn:hover{
    background: #fcd63a;
    color: rgb(255, 255, 255);
 }

 .logo_two{
    margin-top: 10px;
 }

 .learn{
    padding-top: 107px;
    padding-bottom: 118px;
 }

 .section-title{
    font-size: 30px;
    text-align: center;
 }

 .skills{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;

    width: 289px;
 }

 .skill{
    width: 350px; 
   background:  no-repeat top  url('./img/kartinka-1.jpg');

   text-align: center;
   padding-top: 70px;
 }


 .skill-title{
    font-size: 18px;
    padding-left: 30px;
 }

 .skill-text{
    margin-top: 7px;
    width: 330px; 
 }



 .skill-travel{
   background:  no-repeat top  url('./img/kartinka-2.jpg');
 }

 .skill-velues{
   background:  no-repeat top  url('./img/kartinka-3.jpg');
 }

 .mail{
   background: #ECF3F8;
   padding-top: 106px;
   padding-bottom: 106px;
 }

 .form{
   margin-top: 56px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .input{
   width: 320px;
   border: 1px solid #c0c8c8 ;
   font-family: 'Open Sans', sans-serif;
   height: 40px;
   padding-left: 20px;
   /* margin: 0  410px 0 ; */
   margin-top: 12px; 
 }

 .btn-type{
   width: 320px;
   border: 1px solid #c0c8c8 ;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   height: 40px;
   padding-left: 10px;
   padding: unset;
   margin-top: 12px;
 }

 .footer{
   background: rgba(22, 77, 122, 1);
   color: #fff;
   padding: 33px;
   text-align: center;
 }



@media screen and (max-width: 1200px) {
   .container{
      width: 960px;
   }
   
}

@media screen and (max-width: 992px) {
   .container{
      width: 720px;
   }
   .wrapper{
      flex-direction: column;
   }

   .offer{
      width: 100%;
   }
   .intro{
      width: auto;
   }
   .logo_two{
      display: block;
      width: 549px;
      margin: 72px auto 0;
   }
   .skills{
      flex-direction: column;
   }
   .skills{
      width: auto;
      margin-bottom: 30px;
      align-items: center;
   }

}

@media screen and (max-width: 768px) {
   .container{
      width: 540px;
   }
   .logo_two{
      width: 100%;
   }
   .input{
      width: 100%;
   }
   .btn-type{
      width: 100%;
   }
}

@media screen and (max-width: 576px) {
   .container{
      width: 90%;
   }
}
 
